/* login and flight background */
body {
    background: url("/static/img/login_page.jpg") no-repeat center center;
    background-size: cover;
    background-color: #F0F8FF;
    font: 400 1rem/1.75rem "Open Sans", sans-serif;
    color:black;
    height: 100vh;
}


/* login-registration containers */
div.container-sm {
    border: solid black;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: #CAD2D9;
}

