<!-- boiler plate html -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>

    {% block navbar %}
    <div id="navbar" name="navbar">
      <div>
        <a href="/main">Go back to globe</a>
      </div>
      <div>
        <a href="/itineraries">Go to Itinerary Page</a>
      </div>
      <div>
        <a href="/user_profile">Go to my profile</a>
      </div>
      <div>
        <a href="/login">Log Out</a>
      </div>
    
    </div>
    {% endblock %}

    {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>
    {% endfor %}  

    {% block body %}

    {% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
