{% extends 'base.html' %}
{% block title %}City and Activities{% endblock %}

{% block body %}

<h1 id="city_header">{{city.city}}</h1>
  
<div>
    <button id="restaurants-btn" class="restaurants" > check out restaurants</button>
    <div id="restaurants-data" class="restaurants"></div>
</div>
<br>
<br>
<div>
    <button id="attractions-btn" class="attractions" 
    onclick="getAttrData()">check out attractions</button>
    <div id="attractions-data" class="attractions"></div>
</div>


 <!-- when you write your own js file, you need to add them at the bottom of html  -->
<script src="/static/js/get-attractions.js"></script>
<script src="/static/js/get-restaurants.js"></script>

{% endblock %}
