{% extends 'base.html' %}
{% block title %}City and Activities{% endblock %}

{% block head %}
<script type="text/javascript">
  const city_id = {{city.id}};
</script>

{% endblock %}

{% block body %}

<h1 id="city_header">{{city.city}}</h1>
  
<div>
    <button id="restaurants-btn" class="restaurants"> check out restaurants: </button>
    <form id="restaurant-form">
        <div id="restaurants-data" class="restaurants"></div>
        <br>
        <br>
        <br>
        <div>
          <button type="submit">Add noms to Itinerary</button>
        </div>
      </form>
</div>
<br>
<br>

<div>
    <button id="attractions-btn" class="attractions"> check out attractions: </button>
    <form id="attractions-form">
        <div id="attractions-data" class="attractions"></div>
        <br>
        <br>
        <br>
        <div>
          <button type="submit">Add places to Itinerary</button>
        </div>
      </form>
</div>


 <!-- when you write your own js file, you need to add them at the bottom of html  -->
<script src="/static/js/get-attractions.js"></script>
<script src="/static/js/get-restaurants.js"></script>

{% endblock %}
