{% extends 'base.html' %}

{% block title %} View Itinerary{% endblock %}


{% block body %}
{% set itin_id = itinerary.id %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button id="edit-itin-btn" type="button" hidden>Edit</button>
    <!-- <button id="save-edits-btn" type="submit">Save</button> -->
  </div>
<br>
<h2>{{itinerary.title}}</h2>

<br>

<form action="/itinerary/{{itin_id}}/edit" id="edit-itin-form" method="post">
  <p id="itin_id" name="itin_id" hidden>{{itinerary.id}}</p>
  {% for key, value in sched_acts_grouped_by_city.items() %}
<br>
<div class="card" style="width: 72rem;">
    <div class="card-body">
      <h5 class="card-title">{{ key|e }}</h5>

    </div>
    <ul class="list-group list-group-flush">
    {% for items in value %}
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
      </svg>
      <input type="checkbox" id="{{items.id}}" name="sched-acts-data" value="{{items.id}}">
      <label for="{{items.id}}">
        <li class="list-group-item">{{items.act.type}}: {{items.act.name}}
        </li>
      </label>
      <span>
        <label for="{{items.act.name}} date">Date and Time:</label>

        <input type="datetime-local" id="{{items.id}} datetime"
                name="{{items.id}}" placeholder="2022-04-16T00:30"
                min="2022-04-01T00:00" max="2050-06-14T00:00">
      </span> 
    </div>
    {% endfor %}


{% endfor %}
      <br>
      <li id ="city-notes" class="city-notes">
       <div class="input-group">
        <span class="input-group-text">Notes:</span>
        <textarea class="form-control" name="notes" aria-label="notes"></textarea>
      </div>
      </li>
    </ul>
  </div>
<br>
<span>
  <button id="delete-edits-btn" type="submit" formaction="/itinerary/{{itin_id}}/delete">DELETE selected items</button>
  <p>or</p>
  <button id="save-edits-btn" type="submit">Save Updates</button>
</span>

</form>
<br>
<br>





{% endblock %}