{% extends 'base.html' %}

{% block title %} View Itinerary{% endblock %}


{% block body %}
{% set itin_id = itinerary.id %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button id="edit-itin-btn" type="button" hidden>Edit</button>
    <button id="save-edits-btn" type="submit">Save</button>
  </div>
<br>
<h2>{{itinerary.title}}</h2>

<hr>


<p>{{act_group_by_city}}</p>

<br>
<form action="/itinerary/{{itin_id}}/edit" id="edit-itin-form" method="post">
  {% for key, value in act_group_by_city.items() %}
<br>
<div class="card" style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">{{ key|e }}</h5>
    </div>
    {% for items in value %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{items.type}}: {{items.name}}
        <span>
          <label for="{{items.name}} date"> Add date:</label>

          <input type="date" name="{{items.id}}"
                value="2022-04-01"
                min="2022-04-01" max="2050-12-31">
        </span> 

      </li>
      {% endfor %}
      <li id="city-flights" class="list-group-item">Flight info here</li>
      <!-- <label for="name">Flight data:</label>

      <input type="text" id="name" name="name" required
       minlength="4" maxlength="100" size="10"> -->

{% endfor %}
      <li id ="city-notes" class="city-notes">
      <label for="notes">Add notes for your trip:</label>

      <input type="text" id="edit-notes" name="notes"
       minlength="1" maxlength="100" size="75"></li>
    </ul>
  </div>
<br>
<button id="save-edits-btn" type="submit">Save</button>

</form>
<br>
<br>





{% endblock %}