<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1" />
  <title>The globe of extremes</title>

  <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css" />
  <link rel="stylesheet" href="static/css/style.css" />

  <script src="https://js.arcgis.com/4.22/"></script>
  <script>
    require([
      "esri/config",
      "esri/Map",
      "esri/views/SceneView",
      "esri/layers/TileLayer",
      "esri/layers/GeoJSONLayer",
      "esri/Basemap",
      "esri/Graphic",
      "esri/geometry/Point",
      "esri/geometry/Mesh"
    ], function (esriConfig, Map, SceneView, TileLayer, GeoJSONLayer, Basemap, Graphic, Point, Mesh) {

      esriConfig.apiKey = "AAPK098487e1e6df4952bafd27693b662e0cqPKE9zeJhnGkKFZG6GnvYeE92w1Lj27JQemlYPxHbxJdnPoZEyDEjtS_YW9rSGkE";

      const R = 6358137; // approximate radius of the Earth in m


      const basemap = new Basemap({
        baseLayers: [
          new TileLayer({
            url: "https://tiles.arcgis.com/tiles/nGt4QxSblgDfeJn9/arcgis/rest/services/terrain_with_heavy_bathymetry/MapServer"
          })
        ]
      });

      const map = new Map({
        basemap: basemap
      });

      const view = new SceneView({
        container: "viewDiv",
        map: map,
        alphaCompositingEnabled: true,
        qualityProfile: "high",
        camera: {
          position: [-55.03975781, 14.94826384, 19921223.30821],
          heading: 2.03,
          tilt: 0.13
        },
        environment: {
          background: {
            type: "color",
            color: [255, 252, 244, 0]
          },
          starsEnabled: false,
          atmosphereEnabled: false,
          lighting: {
            directShadowsEnabled: false,
            date: "Sun Jun 23 2019 19:19:18 GMT+0200 (Central European Summer Time)"
          }
        },
        constraints: {
          altitude: {
            min: 10000000,
            max: 25000000
          }
        }, 
        popup: {
          dockEnabled: true,
          dockOptions: {
            position: "top-right",
            breakpoint: false,
            buttonEnabled: false
          },
          collapseEnabled: false
        },
        highlightOptions: {
          color: [255, 255, 255],
          haloOpacity: 0.5
        }
      
      });

      view.ui.empty("top-left");

      const origin = new Point({
        x: 0, y: -90, z: -(2 * R)
      });


      const extremesLayer = new GeoJSONLayer({
        url: "/data/cities.geojson",
        elevationInfo: {
          mode: "absolute-height"
        },
        renderer: {
          type: "simple",
          symbol: {
            type: "point-3d",
            symbolLayers: [{
              type: "icon",
              resource: { primitive: "circle" },
              material: { color: [0, 0, 0, 0] },
              outline: { color: [245, 99, 66, 1], size: 4 },
              size: 10
            }, {
              type: "icon",
              resource: { primitive: "circle" },
              material: { color: [0, 0, 0, 0] },
              outline: { color: [245, 99, 66, 1], size: 2 },
              size: 30
            }]
          }
        },
        popupTemplate: {
          title: "{name}",
          content: `
            <div class="popupImage">
              <img src="{imageUrl}" alt="{imageCaption}"/>
            </div>
            <div class="popupImageCaption">{imageCaption}</div>
            <div class="popupDescription">
              <p class="info">
                <span class="esri-icon-favorites"></span> {type}
              </p>
              <p class="info">
                <span class="esri-icon-map-pin"></span> {location}
              </p>
              <p class="info">
                <span class="esri-icon-documentation"></span> {facts}
              </p>
            </div>
            <div class="popupCredits">
              Sources: <a href="{sourceUrl}" target="_blank">{source}</a> released under <a href="{sourceCopyrightUrl}">{sourceCopyright}</a>, <a href="{imageCopyrightUrl}" target="_blank">{imageCopyright}</a>.
            </div>
          `
        }
      });

      map.layers.add(extremesLayer);



    });
  </script>
</head>

<body>
  <div id="viewDiv"></div>
</body>

</html>