<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ArcGIS Developer Guide: Satellite basemap layer</title>
    <style>
      html, body, #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    </style>
  
    <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.23/"></script>
  
    <script>
      require([
          "esri/config",
          "esri/Map",
          "esri/views/SceneView"
      ],(esriConfig, Map, SceneView)=> {
        esriConfig.apiKey = "AAPK098487e1e6df4952bafd27693b662e0cqPKE9zeJhnGkKFZG6GnvYeE92w1Lj27JQemlYPxHbxJdnPoZEyDEjtS_YW9rSGkE";
  
        const map = new Map({
          basemap: "arcgis-imagery", //Basemap layer service
          ground: "world-elevation" //Elevation service
        });
  
        const view = new SceneView({
          container: "viewDiv",
          map: map,
          camera: {
            position: {
              x: -60.0393474, //Longitude
              y: 23.2982304, //Latitude
              z: 100000 // Meters
            },
            tilt: 75
          }
        });
  
      });
    </script>
  </head>
  <body>
    <div id="viewDiv"></div>
  </body>
  </html>