{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}

{% block head %}
    <link href="/static/css/itineraries.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="itineraries-body">
  <h1>Itineraries</h1>
    <div id="itin-cards" class="row row-cols-1 row-cols-md-4 g-4">
      {% for itinerary in all_itineraries %}
      <div class="col">
        <div class="card h-100" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">{{itinerary.title}}</h5>
            {% if itinerary.notes %}
            <p class="card-text">{{itinerary.notes}}</p>
            {% endif %}
            <div id="view-itin-btn">
              <a href="/itinerary/{{itinerary.id}}" class="btn btn-primary">View Itinerary</a>
          </div>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>




{% endblock %}