{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block navbar %}
<div id="navbar" name="navbar">
  <div>
    <a href="/main">Go back to globe</a>
  </div>
  <div>
    <a href="/user_profile">Go to my profile</a>
  </div>
  <div>
    <a href="/login">Log Out</a>
  </div>
</div>
{% endblock %}

{% block body %}
  <h1>Itineraries</h1>

  <p>create a new itinerary</p>

  <p>current itineraries made:</p>

  <p>[title], [start_date], [end_date], [city],  [activities], etc.</p>


{% endblock %}