{% extends 'base.html' %}
{% block title %}User Profile{% endblock %}
{% block navbar %}
<div id="navbar" name="navbar">
  <div>
    <a href="/main">Go back to globe</a>
  </div>
  <div>
    <a href="/user_profile">Go to my profile</a>
  </div>
  <div>
    <a href="/logout">Log Out</a>
  </div>
</div>
{% endblock %}

{% block body %}
  <h1>Itineraries</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for itinerary in all_itineraries %}
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{itinerary.title}}</h5>
      <p class="card-text">{{itinerary.notes}}</p>
      <a href="/itinerary/{{itinerary.id}}" class="btn btn-primary">View Itinerary</a>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}