{% extends 'base.html' %}

{% block title %} View Itinerary{% endblock %}


{% block body %}
{% set itin_id = itinerary.id %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button id="edit-itin-btn" type="button"><a href="/itinerary/{{itin_id}}/edit">Edit</a></button>
  </div>

<br>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <form action="/itinerary/{{itin_id}}" method="post">
    <button id="delete-itin-btn" type="submit">DELETE FOREVER</button>
  </form>
  
</div>
<br>
<h2>{{itinerary.title}}</h2>

<hr>


{% for key, value in act_group_by_city.items() %}
<br>
<div class="card" style="width: 36rem;">
    <div class="card-body">
      <h5 class="card-title">{{ key|e }}</h5>
    </div>
    {% for items in value %}
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> {{items.type}}: {{items.name}}</li>
      {% endfor %}
      <li id="city-flights" class="list-group-item">Flight info here</li>
      <li id ="city-notes" class="list-group-item">[Don't forget to add notes here]</li>
    </ul>
</div>

{% endfor %}





{% endblock %}