{% extends 'base.html' %}
;
{% block title %}Interactive Globe{% endblock %}

{% block navbar %}
<div id="navbar" name="navbar">
    <a href="/itineraries">Go to Itinerary Page</a>
  </div>
  <div>
    <a href="/user_profile">Go to my profile</a>
  </div>
  <div>
    <a href="/logout">Log Out</a>
  </div>
</div>
{% endblock %}

{% block body %}
<div>
  <div>
    <p>Pick from 100 of the top destinations of the world: 
      each destination can be linked to google maps for now, 
      then users can click on the city, then search for local 
      restaurants and attractions. 
    </p>
  </div>
  
  <div>
    <p>
      <strong>Select a destination:</strong>
    </p>
    <ul>
      <li id="paris" name="city"><a href="/city_activities/1">Paris, France</a></li>
      <li id="new-york" name="city"><a href="/city_activities/2">New York, USA</a></li>
      <li id="rome" name="city"><a href="/city_activities/3">Rome, Italy</a></li>
      <li id="london" name="city"><a href="/city_activities/4">London, UK</a></li>
      <li id="tokyo" name="city"><a href="/city_activities/5">Tokyo, Japan</a></li>
      <li>Lisbon, Portugal</li>
      <li>Barcelona, Spain</li>
      <li>Honolulu, Hawaii</li>
      <li>Istanbul, Turkey</li>
      <li>Bangkok, Thailand</li>
      <li>Agra, India</li>
      <li>Cairo, Egypt</li>
      <li>Helsinki, Finland</li>
      <li>Ubud, Bali, Indonesia</li>
      <li>Berlin, Germany</li>
      <li>Shanghai, China</li>
      <li>Las Vegas, USA</li>
      <li>Jerusalem, Israel</li>
      <li>Venice, Italy</li>
      <li>Cape Town, South Africa</li>
      <li>Rio de Janeiro, Brazil</li>
      <li>Singapore, Singapore</li>
      <li>Toronto, Canada</li>
      <li>Seoul, South Korea</li>
      <li>Casablanca, Morocco</li>
      <li>Moscow, Russia</li>
      <li>Sydney, Australia</li>
      <li>Lima, Peru</li>
      <li>Beijing, China</li>
      <li>Buenos Aires, Argentina</li>
      <li>Edinburgh, Scotland</li>
      <li>Los Angeles, USA</li>
      <li>Copenhagen, Denmark</li>
      <li>Osaka, Japan</li>
      <li>Auckland, New Zealand</li>
      <li>Mumbai, India</li>
      <li>Dubai, United Arab Emirates</li>
      <li>Munich, Germany</li>
      <li>Hong Kong, China</li>
      <li>Qatar, State of Qatar</li>
      <li>Seattle, USA</li>
      <li>Oslo, Norway</li>
      <li>Bath, UK</li>
      <li>Athens, Greece</li>
      <li>Vienna, Austria</li>
      <li>Madrid, Spain</li>
      <li>Dublin, Republic of Ireland</li>
      <li>Florence, Italy</li>
      <li>Bruges, Belgium</li>
      <li>Krakow, Poland</li>
      <li>Amsterdam, Holland</li>
      <li>Stockholm, Sweden</li>
      <li>Ljubljana, Slovenia</li>
      <li>Hanoi, Vietnam</li>
      <li>Wellington, New Zealand</li>
      <li>Nice, France</li>
      <li>Vancouver, Canada</li>
      <li>Kiev, Ukraine</li>
      <li>Hallstatt, Austria</li>
      <li>Havana, Cuba</li>
      <li>Mexico City</li>
      <li>Beirut, Lebanon</li>
      <li>Salzburg, Austria</li>
      <li>Sao Paolo, Brazil</li>
      <li>Kyoto, Japan</li>
      <li>Marrakech, Morocco</li>
      <li>St Petersburg, Russia</li>
      <li>San Francisco, USA</li>
      <li>Oxford, UK</li>
      <li>Melbourne, Australia</li>
      <li>Kingston, Jamaica</li>
      <li>Amman, Jordan</li>
      <li>Lagos, Nigeria</li>
      <li>New Orleans, USA</li>
      <li>San Jose, Costa Rica</li>
      <li>Tallinn, Estonia</li>
      <li>Suva Fiji</li>
      <li>Jarkarta, Indonesia</li>
      <li>New Delhi, India</li>
      <li>Adelaide, Australia</li>
      <li>Tripoli, Libya</li>
      <li>Male, Maldives</li>
      <li>Luxembourg, Luxembourg</li>
      <li>Kuala Lumpur, Malaysia</li>
      <li>Glasgow, Scotland</li>
      <li>Valletta, Malta</li>
      <li>Kathmandu, Nepal</li>
      <li>Brussels, Belgium</li>
      <li>Panama City, Panama</li>
      <li>Bucharest, Romania</li>
      <li>Cardiff, Wales</li>
      <li>Manila, Philippines</li>
      <li>Castries, Saint Lucia</li>
      <li>Apia, Samoa</li>
      <li>Bern, Switzerland</li>
      <li>Taipei, Taiwan</li>
      <li>Hobart, Australia</li>
      <li>Budapest, Hungary</li>
      <li>Reykjavik, Iceland</li>
      <li>Prague, Czech Republic</li>
    </ul>
  </div>
  
</div>

{% endblock %}
