{% extends 'base.html' %}
;
{% block title %}Interactive Globe{% endblock %}

{% block navbar %}
<div id="navbar" name="navbar">
    <a href="/itineraries">Go to Itinerary Page</a>
  </div>
  <div>
    <a href="/user_profile">Go to my profile</a>
  </div>
  <div>
    <a href="/logout">Log Out</a>
  </div>
</div>
{% endblock %}

{% block body %}
<div>
  <div>
    <p>Pick from 100 of the top destinations of the world: 
      each destination can be linked to google maps for now, 
      then users can click on the city, then search for local 
      restaurants and attractions. 
    </p>
  </div>
  
  <div>
    <p>
      <strong>Select a destination:</strong>
    </p>
    <ul>
      <li id="paris" name="city"><a href="/city_activities/1">Paris, France</a></li>
      <li id="new-york" name="city"><a href="/city_activities/2">New York, USA</a></li>
      <li id="rome" name="city"><a href="/city_activities/3">Rome, Italy</a></li>
      <li id="london" name="city"><a href="/city_activities/4">London, UK</a></li>
      <li id="tokyo" name="city"><a href="/city_activities/5">Tokyo, Japan</a></li>
      <li id="lisbon" name="city"><a href="/city_activities/6">Lisbon, Portugal</a></li>
      <li id="barcelona" name="city"><a href="/city_activities/7">Barcelona, Spain</a></li>
      <li id="honolulu" name="city"><a href="/city_activities/8">Honolulu, Hawaii</a></li>
      <li id="istanbul" name="city"><a href="/city_activities/9">Istanbul, Turkey</a></li>
      <li id="bangkok" name="city"><a href="/city_activities/10">Bangkok, Thailand</a></li>
      <li id="cairo" name="city"><a href="/city_activities/11">Cairo, Egypt</a></li>
      <li id="helsinki" name="city"><a href="/city_activities/12">Helsinki, Finland</a></li>
      <li id="bali" name="city"><a href="/city_activities/13">Bali, Indonesia</a></li>
      <li id="berlin" name="city"><a href="/city_activities/14">Berlin, Germany</a></li>
      <li id="agra" name="city"><a href="/city_activities/15">Agra, India</a></li>
      <li id="shanghai" name="city"><a href="/city_activities/16">Shanghai, China</a></li>
      <li id="las-vegas" name="city"><a href="/city_activities/17">Las Vegas, USA</a></li>
      <li id="jerusalem" name="city"><a href="/city_activities/18">Jerusalem, Israel</a></li>
      <li id="venice" name="city"><a href="/city_activities/19">Venice, Italy</a></li>
      <li id="cape-town" name="city"><a href="/city_activities/20">Cape Town, South Africa</a></li>
      <li id="rio-de-janeiro" name="city"><a href="/city_activities/21">Rio de Janeiro, Brazil</a></li>
      <li id="singapore" name="city"><a href="/city_activities/22">Singapore, Singapore</a></li>
      <li id="toronto" name="city"><a href="/city_activities/23">Toronto, Canada</a></li>
      <li id="seoul" name="city"><a href="/city_activities/24">Seoul, South Korea</a></li>
      <li id="casablanca" name="city"><a href="/city_activities/25">Casablanca, Morocco</a></li>
      <li id="moscow" name="city"><a href="/city_activities/26">Moscow, Russia</a></li>
      <li id="sydney" name="city"><a href="/city_activities/27">Sydney, Australia</a></li>
      <li id="lima" name="city"><a href="/city_activities/28">Lima, Peru</a></li>
      <li id="beijing" name="city"><a href="/city_activities/29">Beijing, China</a></li>
      <li id="buenos" name="city"><a href="/city_activities/30">Buenos Aires, Argentina</a></li>
      <li id="edinburgh" name="city"><a href="/city_activities/31">Edinburgh, Scotland</a></li>
      <li id="los-angeles" name="city"><a href="/city_activities/32">Los Angeles, USA</a></li>
      <li id="copenhagen" name="city"><a href="/city_activities/33">Copenhagen, Denmark</a></li>
      <li id="osaka" name="city"><a href="/city_activities/34">Osaka, Japan</a></li>
      <li id="auckland" name="city"><a href="/city_activities/35">Auckland, New Zealand</a></li>
      <li id="mumbai" name="city"><a href="/city_activities/36">Mumbai, India</a></li>
      <li id="budai" name="city"><a href="/city_activities/37">Dubai, United Arab Emirates</a></li>
      <li id="munich" name="city"><a href="/city_activities/38">Munich, Germany</a></li>
      <li id="hong-kong" name="city"><a href="/city_activities/39">Hong Kong, China</a></li>
      <li id="qatar" name="city"><a href="/city_activities/40">Qatar, State of Qatar</a></li>
      <li id="seattle" name="city"><a href="/city_activities/41">Seattle, USA</a></li>
      <li id="oslo" name="city"><a href="/city_activities/42">Oslo, Norway</a></li>
      <li id="bath" name="city"><a href="/city_activities/43">Bath, UK</a></li>
      <li id="athens" name="city"><a href="/city_activities/44">Athens, Greece</a></li>
      <li id="vienna" name="city"><a href="/city_activities/45">Vienna, Austria</a></li>
      <li>Madrid, Spain</li>
      <li>Dublin, Republic of Ireland</li>
      <li>Florence, Italy</li>
      <li>Bruges, Belgium</li>
      <li>Krakow, Poland</li>
      <li>Amsterdam, Holland</li>
      <li>Stockholm, Sweden</li>
      <li>Ljubljana, Slovenia</li>
      <li>Hanoi, Vietnam</li>
      <li>Wellington, New Zealand</li>
      <li>Nice, France</li>
      <li>Vancouver, Canada</li>
      <li>Kiev, Ukraine</li>
      <li>Hallstatt, Austria</li>
      <li>Havana, Cuba</li>
      <li>Mexico City</li>
      <li>Beirut, Lebanon</li>
      <li>Salzburg, Austria</li>
      <li>Sao Paolo, Brazil</li>
      <li>Kyoto, Japan</li>
      <li>Marrakech, Morocco</li>
      <li>St Petersburg, Russia</li>
      <li>San Francisco, USA</li>
      <li>Oxford, UK</li>
      <li>Melbourne, Australia</li>
      <li>Kingston, Jamaica</li>
      <li>Amman, Jordan</li>
      <li>Lagos, Nigeria</li>
      <li>New Orleans, USA</li>
      <li>San Jose, Costa Rica</li>
      <li>Tallinn, Estonia</li>
      <li>Suva Fiji</li>
      <li>Jarkarta, Indonesia</li>
      <li>New Delhi, India</li>
      <li>Adelaide, Australia</li>
      <li>Tripoli, Libya</li>
      <li>Male, Maldives</li>
      <li>Luxembourg, Luxembourg</li>
      <li>Kuala Lumpur, Malaysia</li>
      <li>Glasgow, Scotland</li>
      <li>Valletta, Malta</li>
      <li>Kathmandu, Nepal</li>
      <li>Brussels, Belgium</li>
      <li>Panama City, Panama</li>
      <li>Bucharest, Romania</li>
      <li>Cardiff, Wales</li>
      <li>Manila, Philippines</li>
      <li>Castries, Saint Lucia</li>
      <li>Apia, Samoa</li>
      <li>Bern, Switzerland</li>
      <li>Taipei, Taiwan</li>
      <li>Hobart, Australia</li>
      <li>Budapest, Hungary</li>
      <li>Reykjavik, Iceland</li>
      <li>Prague, Czech Republic</li>
    </ul>
  </div>
  
</div>

{% endblock %}
